[project]
	description = Small projects in Maven, Gradle Ivy to configure CI and Artifactory
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/devopsnkg
[access "refs/for/refs/*"]
	read = group user/devopsnkg
	push = group user/devopsnkg
	label-Code-Review = -2..+2 group user/devopsnkg
	label-Verified = -1..+1 group user/devopsnkg
	rebase = group user/devopsnkg
	removeReviewer = group user/devopsnkg
	submit = group user/devopsnkg
[access "refs/heads/*"]
	read = group user/devopsnkg
	create = group user/devopsnkg
	push = +force group user/devopsnkg
	pushMerge = group user/devopsnkg
[access "refs/tags/*"]
	push = group user/devopsnkg
	push = +force group user/devopsnkg
